@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.l1{
  position: relative;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l1::before{
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: 0px;
  background-color: black;
  transition: .5s;
  z-index: 2;
  left: 0;
}
.l1:hover::before{
  width: 100%;
}
/* .l2{
  position: relative;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .l2::before{
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: 0px;
  background-color: black;
  transition: .5s;
  z-index: 2;
  left: 0;
}
.l2:hover::before{
  width: 100%;
} */

/* .img{
  background-image: url("pexels-googledeepmind-18069157.jpg");
} */